.chef-malai-intro {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20%;
    background-color: #f0efeb;
    color: #353c35;
    border-radius: 10px;
    margin: 10px auto 20px;
    font-family: Inter, sans-serif;
  }


.intro-title {
    font-size: 1.5rem;
    color: #557255;
    margin-bottom: 10px;
  }

p {
    line-height: 1.6;
    font-size: 1rem;
  }